body {
    font-family: "平成角ゴシック";
    font-weight: 10;
}

.bg-skyblue {
    background: radial-gradient(at 50% 50%, red 10px, yellow 30%, #1e90ff 50%);}

.img-fluid {
    max-width: 40%; 
    height: auto;
}

.available {
    color: rgb(19, 203, 19);
}

.no-available {
    color: red;
}

