body {
    font-family: "平成角ゴシック";
    font-weight: 10;
}

.bg-skyblue {
    background-color: blue;
}

.img-fluid {
    max-width: 40%; 
    height: auto;
}

.available {
    color: rgb(19, 203, 19);
}

.no-available {
    color: red;
}

