body {
    font-family: "平成角ゴシック";
    font-weight: 10;
}

.bg-skyblue {
    background: radial-gradient(at 50% 50%,rgb(44, 127, 227) 20px, rgb(91, 193, 248) %, #235fdf 75%);}

.img-fluid {
    max-width: 40%; 
    height: auto;
}

.available {
    color: rgb(19, 203, 19);
}

.no-available {
    color: red;
}

