body {
    font-family: 'Bevan', cursive;
    color: white;
    font-weight: bold;
}

.initialCon {
    backdrop-filter: blur(1px); 
    background-color: rgba(255, 255, 255, 1); 
    border-radius: 35px; 
    box-shadow: 35px 35px 68px 0px rgba(245, 166, 35, 0.5), inset -7px -7px 16px 0px rgba(245, 166, 35, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);}

.bg-orange {
    background: linear-gradient(orange, white);
}

#initial-form h1 {
    font-size: 3.5em;
}

.btn1-warning {
    backdrop-filter: blur(5px); 
    background-color: rgba(255, 255, 255, 1); 
    border-radius: 26px; 
    box-shadow: 35px 35px 68px 0px rgba(245, 166, 35, 0.5), 
}

.btn1-warning:hover {
    box-shadow:0 2px 0 0 #005400;
    transform: translateY(-2px);
    
}

.btn1-primary {
    box-shadow:0 6px 0 0 #0008ff7b;
    transform: translateY(-6px);
    transition:0.3s all;
    background: -webkit-linear-gradient(top,  #00ccff 0%,#466ff6 100%); /* Chrome10-25,Safari5.1-6 */
}

.btn1-primary:hover {
    box-shadow:0 2px 0 0 #005400;
    transform: translateY(-2px);
}



.img-fluid {
    max-width: 40%; 
    height: auto;
}

.available {
    color: rgb(19, 203, 19);
}

.no-available {
    color: red;
}


